html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

body{
    background-color: #121212;
    overflow-y: hidden;
    overflow-x: hidden;
}
div.playground{
	position: relative;
	top: 37px;
	left: 37px;
	width: 600px;
	height: 920px;
	background-color: #ffffff;
	float: left;
}
div header{
	height: 140px;
	width: 100%;
	background-color: #5fb559c4;
	box-shadow: 0px -20px 80px  #121212;
}
#progress{
	position: relative;
	top: 20px;
	width: 92%;
	left: 3.4%;
	height: 35px; 
	background-color: #afc4a8;
	border: solid #378a1a 4px;
	border-radius: 4px;
	box-shadow: 0px 0px 1px #b5bd6f;
	transition: 0.2s all;
} 
#progress:hover {
	box-shadow: 0px 3px 4px #8f9657;
}
#progress > p{
	top: 7px;
	position: relative;
	width: 100%;
	text-align: center;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 20px;
}
#progress > div{
	position: absolute;
	top: 0px;
	height: 100%;
	background-color: #34ca00;	
}
ul.infobar {
	position: relative;
	top: 10px;
	height: 50px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
ul.infobar li > img{
	position: relative;
}
ul.infobar li > span{
	position: relative;
	margin-left: 5px;
	top: -11px;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 40px;
	color: #202020;
}
ul.infobar li:first-child {
	position: relative;
	float: left;
	left: 24px;
}
ul.infobar li:nth-child(2){
	position: relative;
	float: right;
	right: 35px;
}
div main{
	width: 100%;
	height: 600px;
}
div main div.kaktus{
	left: calc((600px - 240px)/2);
	top: calc((600px - 420px)/2);
	position: relative;
	width: 240px;
	height: 347px;
}
div main div.kaktus > img{
	width: 100%;
	height: 100%;
	transform: scale(1,1) rotate(0deg);
	transition: 0.05s all;
}
div main div.kaktus > img:hover{
	transform:rotate(4deg);
}
div main div.kaktus > img:active{
	transform: scale(0.95, 0.95);
}
div footer{
	position: relative;
	float: bottom;
	width: 100%;
	height: 183px;
	background-color: #202020;
}
ul.itemshop{
	position: relative;
	top: 16px;
	height: 125px;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	left: 10%;
}
ul.itemshop li.item{
	float: left;
	position: relative;
	width: 110px;
	height: 110px;
	margin-left: 15px;
	margin-right: 15px;
	background-color: #b5b5b5;
	border: solid #378a1a 4px;
	border-radius: 4px;
	box-shadow: 0px 0px 1px #000;
	transform: scale(1,1);
	transition: 0.2s all;
} 
ul.itemshop li.item:hover {
	box-shadow: 0px 0px 20px #000;
}
ul.itemshop li.item:active:nth-child(2) {
	transform: scale(0.92,0.92);
}
ul.itemshop li.item:active:nth-child(3) {
	transform: scale(0.92,0.92);
}
ul.itemshop li.cena{
	float: left;
	left: 20px;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 30px;
	color: white;
	position: relative;
	width: 110px;
	height: 110px;
	margin-left: 15px;
	margin-right: 15px;
}
ul.itemshop li > img{
	position: relative;
	left: 5px;
	top: 5px;
	transform: scale(0.9,0.9);	
}
ul.itemshop li > img#kasa{
	position: relative;
	top: -9px;
	left: -15px;
	transform: scale(0.5,0.5);	
}
ul.itemshop li > span.kwota{
	position: relative;
	top: -23px;
}
ul.itemshop:nth-child(2){
	left:26%;
}
ul.itemshop > li.item:nth-child(1){
	background-color: #bdf0a8;
	height: 50px;
	width: 50px;
}
ul.itemshop > li.item:nth-child(4){
	background-color: #bdf0a8;
	height: 50px;
	width: 50px;
}
footer ul.itemshop li.item > span{
	position: relative;
	margin-left: 10px;
	color: #202020;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 45px;
}
aside{
	position: relative;
	top: 37px;
	left: 100px;
	height: 650px;
	width: 40vw;
	background-color: #202020;
	float: left;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 29px;
	color: white;
}
aside > div{
	margin: 20px;
}
aside img{
	position: relative;
	left: calc((40vw - 240px)/2);
}